/.yardoc
/Gemfile.lock
/gemfiles/*.lock
/gemfiles/bin
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/results/
/spec/dummy/db/structure.sql
spec/dummy/tmp/
/tmp/
/.ruby-version
/*.gem

# rspec failure tracking
.rspec_status
