shared_config: &shared_config
  machine:
    image: circleci/classic:edge

  steps:
    - checkout

    - run:
        name: Prepare and start containers
        command: docker-compose up -d

    - run:
        name: Install global gems
        command: bin/de bundle

    - run:
        name: Install appraisal gems
        command: for version in $RAILS_VERSIONS; do bin/de appraisal ar-$version bundle; done

    - run:
        name: Notify CC that tests are about to run
        command: |
          set +e
          [ "$UPLOAD_COVERAGE" = "true" ] &&
          bin/de cc-reporter before-build
          /bin/true

    - run:
        name: Run tests
        command: for version in $RAILS_VERSIONS; do bin/de appraisal ar-$version rake ci; done

    - store_test_results:
        path: spec/results

    - store_artifacts:
        path: coverage

    - run:
        name: Attempting to upload coverage report
        when: always
        command: |
          set +e
          [ "$UPLOAD_COVERAGE" = "true" ] &&
          [ -d "coverage" ] &&
          bin/de cc-reporter after-build -t simplecov
          /bin/true

version: 2
jobs:
  build-ruby-2.5.0-pg-10:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: 2.5.0
      CONTAINER_PG_VERSION: 10
      RAILS_VERSIONS: "5.0 5.1 5.2"

  build-ruby-2.5.0-pg-11:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: 2.5.0
      CONTAINER_PG_VERSION: 11
      RAILS_VERSIONS: "5.0 5.1 5.2"

  build-ruby-2.5.0-pg-12:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: 2.5.0
      CONTAINER_PG_VERSION: 12
      RAILS_VERSIONS: "5.0 5.1 5.2"

  build-ruby-2.5.0-pg-13:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: 2.5.0
      CONTAINER_PG_VERSION: 13
      RAILS_VERSIONS: "5.0 5.1 5.2"

  build-ruby-latest-pg-10:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: latest
      CONTAINER_PG_VERSION: 10
      RAILS_VERSIONS: "6.0 6.1 7.0"

  build-ruby-latest-pg-11:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: latest
      CONTAINER_PG_VERSION: 11
      RAILS_VERSIONS: "6.0 6.1 7.0"

  build-ruby-latest-pg-12:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: latest
      CONTAINER_PG_VERSION: 12
      RAILS_VERSIONS: "6.0 6.1 7.0"

  build-ruby-latest-pg-13:
    <<: *shared_config

    environment:
      CONTAINER_RUBY_VERSION: latest
      CONTAINER_PG_VERSION: 13
      RAILS_VERSIONS: "6.0 6.1 7.0"
      UPLOAD_COVERAGE: true

workflows:
  version: 2
  build_matrix:
    jobs:
      - build-ruby-2.5.0-pg-10
      - build-ruby-2.5.0-pg-11
      - build-ruby-2.5.0-pg-12
      - build-ruby-2.5.0-pg-13
      - build-ruby-latest-pg-10
      - build-ruby-latest-pg-11
      - build-ruby-latest-pg-12
      - build-ruby-latest-pg-13
